body {
    background: #232323;
    color: white;
    font-family: Monospaced, monospace;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 99%;
}

footer.div.div {
    text-align: center;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: #00ff00;
}

a:hover {
    text-decoration: underline;
}

a:active {
  color: green;
}

input {
    background: black;
    padding: 10px;
    color: lime;
    border-radius: 10px;
}

input[type=text] {
    width: 20em;
}

input:disabled {
    color: #868686;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    border: 1px solid white;
    padding: 10px;
}
th {
    border: 1px solid white;
    padding: 10px;
}

.traceroute_list_item {
    display: flex;
    align-items: center;
    background-color: black;
    margin-top: 10px;
    padding: 10px;
}